@{
	ViewData["Title"] = "Inicio";
}


<html>

<head>
	<!-- Icon nav bar -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="" type="image/x-icon">

	<title>Menu Ditgital</title>
</head>
<body>

	<!-- MODAL DE EXIBIÇÃO -->
	<div class="containerExibeProduto" id="modalDetalhesPrduto">
		<div class="exibeProduto">

			<div class="ctExibeProduto">

				<div class="iconFechar">
					<svg onclick="fechaModalProduto();" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
					</svg>
				</div>

				<div class="ctExibeProduto-img">
					<img src="" />
				</div>

				<div class="infoProd">
					<h1 class="title"></h1>
					<h2 class="preco"></h2>
				</div>

				<div class="descProd">
					<p></p>
				</div>

			</div>

		</div>
	</div>
	<!-- ------------------------------------------------- -->

	<!-- MODAL DE PESQUISA -->
	<div class="containerTelaSearch">
		<div class="ctTelaSearch">

			<div class="navSearch">
				<div class="ctNavSearch input-group">
					<input type="text" id="inputSearchModalBusca" class="form-control" placeholder="Oque você procura..." oninput="searchInputProdutoModal(this.value);" autocomplete="off">
					<button class="btn btn-primary" type="button" id="button-search-pesq">Pesquisar</button>
				</div>
			</div>

			<div class="bodySearch">
				<div class="bodySearch_resultBusca">

				</div>
			</div>

			<div class="footerSearch">
				<button type="button" class="btn btn-primary" onclick="fechaSearchInputProdutoModal();">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
					</svg> &nbsp;Voltar
				</button>
			</div>

		</div>
	</div>
	<!-- ------------------------------------------------- -->


	<nav class="container">
		<div class="menu-nav-bar">
			<div class="menu-cts-ct">
				<div class="img-nav-bar"><img src="~/css/img/sua-logo-aqui.png" /></div>
				<div class="txt-nav-bar"><h1>NOME DO LOCAL</h1></div>
			</div>

			<div class="menu-cts-nav">
				<svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" onclick=" abrirSearchInputProdutoModal();">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
				</svg>
				<div class="menu-cts-pesq-bar">

					<input id="input-de-pesquisa" list="input-search" placeholder="Digite o que você procura" oninput="searchInputProduto(this.value);" onchange="buscaProdUnico(this.value);" autocomplete="off" />

					<datalist id="input-search">
					</datalist>


				</div>
			</div>
		</div>
	</nav>

	<main class="container">
		<div class="categorias">
			<div class="itens-categorias">
				<div class="ct-loading-cat">
					<div class="loading-cat"></div>
				</div>
			</div>
		</div>
	</main>

	<div class="container">
		<div class="sub-categorias">
			<div class="sub-itens">
				<div class="item-sub active">Todos</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="produtos">
			<div class="itens-produtos" id="">
			</div>
		</div>
	</div>

	<footer>
		<div class="ct-footer">
			<label id="txt_footer">Copyright © 2024 – Todos os Direitos Reservados.</label>
		</div>
	</footer>

</body>
</html>
